{% load humanize %}
<h3> 标签 <button class="btn btn-danger" id="btn_tag">Toggle</button> </h3>
<div id="tags" class="row" style="line-height:420%">
    {% if problem.get_tags %}
        {% for tag in problem.get_tags %}
            <span style="margin-left:20px"><a style='font-size:{{tag.get_rk}}%'>{{tag.name}}</a></span>
        {% endfor %}
    {% endif %}
</div>
<div>
    <ul class="list-group">
        {% if not problem.get_notes %}
            {% if status > 0 %}
                <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Heads up!</strong> No note are available.Try to <a href="/add/note/{{ problem.id }}/" class="alert-link">add one</a>?
                </div>
            {% endif %}
        {% else %}
            <div class="list-group">
            {% for note in problem.get_notes|dictsortreversed:"update_time" %}
                {% if note.author.user == user %}
                    <a href="/note/{{note.pk}}" class="list-group-item list-group-item-danger">
                        <span class="badge">{{note.update_time | naturaltime }}</span>
                        * {{ note.author.user.username }}({{ note.author.real_name }}):
                        {{note.text}}
                    </a>
                {% elif forloop.counter|divisibleby:"2" %}
                    <a href="/note/{{note.pk}}" class="list-group-item list-group-item-info">
                        <span class="badge">{{note.update_time | naturaltime }}</span>
                        * {{ note.author.user.username }}({{ note.author.real_name }}):
                        {{note.text}}
                    </a>
                {% else %}
                    <a href="/note/{{note.pk}}" class="list-group-item list-group-item-success">
                        <span class="badge">{{note.update_time | naturaltime }}</span>
                        * {{ note.author.user.username }}({{ note.author.real_name }}):
                        {{note.text}}
                    </a>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    </ul>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('#tags').hide();
});
</script>
<script type="text/javascript">
$(function(){
  $('#btn_tag').click(function(){
    if($('#tags').is(':hidden')){
      $('#tags').show();
    }
    else{
      $('#tags').hide();
    }
  })
})
</script>