{% extends "base.html" %}
{% load staticfiles %}
{% block title %}增加标签{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {{ form.media }}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 well">
                <h2>新的标签</h2>
                <form method="POST" class="post-form">{% csrf_token %}
                    {{form|crispy|safe}}
                    <button type="submit" class="btn btn btn-primary btn-block">Save</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}