{% extends "base.html" %}

{% block title %}问题详细信息{% endblock %}

{% block content %}

    <div class="container" style="margin-top: 10px">
        <h1>Note Details</h1>
    </div>
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div id="show_note">
                    <ul class="nav nav-pills" role="tablist">
                      <li role="presentation" class="active"><a href="/view_problem/{{note.problem.pk}}">{{note.problem.oj_all}}<span class="badge">{{note.problem.title}}</span></a></li>
                      <li role="presentation" class="active"><a >{{ note.author.user.username }}<span class="badge">{{ note.author.real_name }}</span></a></li>
                    </ul>
                    <ul class="list-group">
                      <li class="list-group-item">
                        <span class="badge">{{note.pub_time}}</span>
                        Pub Time
                      </li>
                      <li class="list-group-item">
                        <span class="badge"> {{note.update_time}}</span>
                        Update Time
                      </li>
                      <li class="list-group-item">
                        <span class="badge"> {{note.get_relation.difficulty}}</span>
                        Difficult Num
                      </li>
                    </ul>
                </div>
            </div>
        </div>
        <h3> Note <button class="btn btn-danger" id="btn_note">Toggle</button> </h3>
        <div class="row" id="note">
            <div class="col-md-8 col-md-offset-2 well">
                {% autoescape off %}
                    {{note.content}}
                {% endautoescape %}
            </div>
        </div>
        <h3> Tags <button class="btn btn-danger" id="btn_tag">Toggle</button> </h3>
        <div id="tags" class="row" style="line-height:420%">
                {% for tag in note.problem.get_tags%}
                    <span style="margin-left:20px"><a style='font-size:{{tag.get_rk}}%'>{{tag.name}}</a></span>
                {% endfor %}
        </div>
        {%if editable %}
        <h3><button class="btn btn-success" id="btn_Edit">Edit</button></h3>
        {% endif %}
    </div>
    </div>

<script type="text/javascript">
$(document).ready(function(){
  $('#tags').hide();
  $('#note').hide();
});
</script>
<script type="text/javascript">
$(function(){
  $('#btn_tag').click(function(){
    if($('#tags').is(':hidden')){
      $('#tags').show();
    }
    else{
      $('#tags').hide();
    }
  })
})
$(function(){
  $('#btn_note').click(function(){
    if($('#note').is(':hidden')){
      $('#note').show();
    }
    else{
      $('#note').hide();
    }
  })
})
</script>



{% endblock %}