{% extends 'base.html' %}
{% block title %}
    编辑笔记
{% endblock %}

{# Load the tag library #}
{% load bootstrap3 %}

{% load staticfiles %}

{% block body %}
{# 下面是datatime的需求 #}
    {{ form.media }}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation">
                <a href="/note/{{ note.id }}/">题目笔记</a>
            <li role="presentation" class="active">
                <a href="/edit/note/{{ note.id }}/">编辑</a>
            </li>
        </ul>
        {% include "note/_note_header.html" %}
        <form method="post" class="form">
            {% csrf_token %}
            {% for field in form %}
                {% if field.label == '笔记内容' %}
                    {% bootstrap_field field %}
                {% else %}
                    <div class="col-md-6 col-lg-6">
                        {% bootstrap_field field %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col-md-9 col-lg-9">
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                      {% bootstrap_icon "star" %} 确认修改
                    </button>
                {% endbuttons %}
            </div>
        </form>
    </div>
{% endblock %}