{% extends 'base.html' %}
{% block title %}
    {{ note.problem.title }}
{% endblock %}

{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation" class="active">
                <a href="/note/{{ note.id }}/">题目笔记</a>
            </li>
            {% if editable %}
            <li role="presentation">
                <a href="/edit/note/{{ note.id }}/">编辑</a>
            </li>
            {% endif %}
        </ul>
        {% include "note/_note_header.html" %}
        <div class="note-section">
            {% autoescape off %}
                {{note.content}}
            {% endautoescape %}
        </div>
        <h3> 标签 <button class="btn btn-danger" id="btn_tag">Toggle</button> </h3>
        <div id="tags" class="row" style="line-height:420%">
            {% if note.get_tags %}
                {% for tag in note.get_tags %}
                    <span style="margin-left:20px"><a style='font-size:{{tag.get_rk}}%'>{{tag.name}}</a></span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js_block %}
<script type="text/javascript">
$(document).ready(function(){
  $('#tags').hide();
});
</script>
<script type="text/javascript">
$(function(){
  $('#btn_tag').click(function(){
    if($('#tags').is(':hidden')){
      $('#tags').show();
    }
    else{
      $('#tags').hide();
    }
  })
})
</script>
    {% include "_mathjax_js.html" %}
{% endblock %}